# .coveragerc to control test coverage report
[run]
parallel = True
branch = True
source =
  broad_utils
  illumina
  assembly
  interhost
  intrahost
  metagenomics
  ncbi
  read_utils
  reports
  taxon_filter
  tools
  util

[report]

exclude_lines =
    pragma: no cover

    #raise AssertionError
    raise NotImplementedError

    def __repr__
    if self\.debug

    if 0:
    if __name__ == .__main__.:
