VERSION
test/output/

# Sphinx documentation
docs/_build/

# Mac OSX
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# WIP/dev temporary backup copies
*.bak
*.bak[0-9]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pyenv local
.python-version

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.noseids
nosetests.xml
pytest.xml
coverage.xml
.coverage
coverage/

test/input/TestVPhaser2/in.bam.bti

easy-deploy/data/Snakefile
easy-deploy-virtualized/data/Snakefile

easy-deploy-virtualized/data/config.json
easy-deploy-virtualized/data/config.yaml

easy-deploy-virtualized/data/viral-ngs/

**/.vagrant/

tools/build/
tools/conda-cache/
tools/conda-tools/

*.snakemake/

.pytest_cache/

.vscode/
