[DESIGN]
# the default of five is a bit too restrictive
max-args=12

# some sci computations require many local variables
max-locals=20

[MESSAGES CONTROL]
# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
# enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).

# module has too many lines
disable=C0302

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[TYPECHECK]
# to prevent (incorrect) no-member errors from cython modules
ignored-modules=cython,pysam
ignored-classes=cython,pysam