language: python
sudo: false

cache:
 directories:
  - $HOME/virtualenv
  - $HOME/miniconda

env:
  global:
  - CACHE_DIR="$HOME/virtualenv"
  - MINICONDA_DIR="$HOME/miniconda"
  - GATK_PATH="$CACHE_DIR/bin_bundles/GenomeAnalysisTK-3.3-0-g37228af"
  - NOVOALIGN_PATH="$CACHE_DIR/bin_bundles/novocraft_v3"
  - PYTHONIOENCODING=UTF8
  - COVERAGE_PROCESS_START="$TRAVIS_BUILD_DIR/.coveragerc"
  - secure: l9tLtFKGNhaRdRN2N7Fiks63VatVCOtDUG7FI/pi7JNJu/EriTwDRlncoVCRCJZKOdxG8OrwC1BLX6CNqpVjJISEPGV/djsf2wCV9vi6oa+OsvMymsJAjOYkLezwRLVZp/0l/sGumPGz+q+XIM8VnkOZezIvZjGaaAtBpRTHdmA=

python:
  - 2.7
  - 3.4
  - 3.5

# Container pkgs for building diamond.
# These versioned and sources hacks should be removed once travis upgrades to
# Ubuntu 14.04.
addons:
  apt:
    sources:
    - boost-latest # For newer boost
    - ubuntu-toolchain-r-test # For newer gcc
    packages:
    - cmake
    - gcc-4.9
    - g++-4.9
    - libboost1.55-all-dev

before_install:
  - travis/before_install.sh

install:
  - travis/install-conda.sh
  - export PATH="$PATH:$HOME/miniconda/bin"
  - hash -r
  - travis/install-pip.sh
  - travis/install-tools.sh

before_script:
  - flake8 --exit-zero .
  - travis/setup-coverage.sh

script:
  - travis/tests-unit.sh
  - travis/tests-long.sh
  - coverage combine

after_success:
  - coveralls
