sudo: required 
dist: trusty

git:
  depth: 75

env:
  global:
  - CACHE_DIR="$HOME/misc_cache"
  - MINICONDA_DIR="$HOME/miniconda"
  - PIP_DIR="$HOME/virtualenv"
  - GATK_PATH="$CACHE_DIR/GenomeAnalysisTK-3.6"
  - PYTHONIOENCODING=UTF8
  #- DOCKER_REPO_PROD="broadinstitute/viral-ngs"
  #- DOCKER_REPO_DEV="broadinstitute/viral-ngs-dev"
  - BOTO_CONFIG=/dev/null # bogus value to override config on travis
  - _JAVA_OPTIONS="-Xmx3g" # overrides jvm opts set elsewhere; see: https://stackoverflow.com/questions/28327620/difference-between-java-options-java-tool-options-and-java-opts

cache:
  directories:
    - $HOME/misc_cache
    - $HOME/miniconda
  timeout: 480

stages:
  - build
  - test

jobs:
  fast_finish: true
  include:

    - stage: build
      os: linux
      language: generic
      env:
        - TRAVIS_JOB=build_docker
        # DOCKER_USER
        - secure: hYX8492Wqpq3yqv+eHBV9c6VY8JlUSS8mUDfT1eWNEZF2vw8WrnTt8SrLIPC8etQUk1ZaSI/8XbJQKEr9LRqgvuO07AIv6BxYCg9l9BPHCj6B2YTTPo2qPkPapfvtGVd7PUZcWDUvzvPxJqMveuKVkTnCuuQSWwR68Y/Khxj8UY=
        # DOCKER_PASS
        - secure: QYylIMLvn1op6d//5yBD7KpquNxK/+xxQxIJLXWFgIl08sdT/MvrI6edgm3k8CumS7735eSV6C+KGOkF9JqM12aGUK/3PPckFGY+h/j4zQX26taT+6221ozbzF6hqYk6qm86FT5QVkBFLxsoDvt0Sh+1FPeVsWJf0o9yrLTrj2E=
        # DOCKER_EMAIL (for broadinstitute/viral-ngs on Docker Hub)
        - secure: kKSA73w+i9MfIbLBx7FN85SImGn+Rbhke554q39DSkU0++Q8zyRj7862oOKX3XBlBfeFrZaDzuyk7D1WJvdOF48tQHTJVcoI5qvzFqn4qXjLN3oI2dsGWd154SmUH9uviNUKjNzVpzcdQ7nt+ntrR4FQHLf+gqn7PyCg2p0jD2w=
      install: travis/upgrade-docker.sh
      script:
        - set -e
        - if [ -f "$CACHE_DIR/old-docker-tag.txt" ]; then OLD_DOCKER_TAG=$(cat $CACHE_DIR/old-docker-tag.txt); else OLD_DOCKER_TAG="broadinstitute/viral-ngs"; fi; echo "old docker tag = $OLD_DOCKER_TAG"
        - docker pull $OLD_DOCKER_TAG
        - travis_wait docker build -t local/viral-ngs:build --cache-from $OLD_DOCKER_TAG .
        - travis/deploy-docker.sh
      before_cache:
        - travis/list-docker-tags.sh | tail -1 > $CACHE_DIR/old-docker-tag.txt

    - stage: build
      os: linux
      language: java
      jdk: oraclejdk8
      env:
        - TRAVIS_JOB=build_dxWDL
        # DX_API_TOKEN (for DNAnexus builds)
        - secure: laEq3qUZr6Dmvv1RvwvapNRNFxbWubkmGGmAqw/v1o8BcHuIL6lSvz2fZnvlMK8J8ySfL/4tawsgIU7bnh3H57u9bZdR37pNZthZ+4jguegKg8R5dpCxftEQRkgNN1C2LdTzkOYZvXq6i7tXHiDUJN2aWeElf6UDqspdbSFM+L0=
        - DX_PROJECT=project-F856jv809y3VkzyFGkKqX367
      install: travis/install-wdl.sh
      script:
        - travis/version-wdl-runtimes.sh
        - travis/validate-wdl.sh
        - travis/build-dx.sh

    - stage: build
      os: linux
      language: python
      python: 3.5
      env: TRAVIS_JOB=build_docs
      install: travis/install-pip-docs.sh
      script: travis/build-docs.sh

    - stage: test
      os: linux
      language: python
      python: 2.7
      env:
        - TRAVIS_JOB=test_py27
        - PYTEST_ADDOPTS="-rsxX -n 2 --durations=25 --fixture-durations=10 --junit-xml=pytest.xml --cov-report= --cov broad_utils --cov illumina --cov assembly --cov interhost --cov intrahost --cov metagenomics --cov ncbi --cov read_utils --cov reports --cov taxon_filter --cov tools --cov util"
        # $BUNDLE_SECRET for decrypting tarball of third-party tools
        - secure: KX7DwKRD85S7NgspxevgbulTtV+jHQIiM6NBus2/Ur/P0RMdpt0EQQ2wDq79qGN70bvvkw901N7EjSYd+GWCAM7StXtaxnLRrrZ3XI1gX7KMk8E3QzPf0zualLDs7cuQmL6l6WiElUAEqumLc7WGpLZZLdSPzNqFSg+CBKCmTI8=
      before_install: travis/before_install.sh
      install:
        - source travis/install-conda.sh
        - travis/install-gatk.sh
        - travis_wait travis/install-tools.sh
        - source travis/activate-conda.sh
      script:
        - travis/tests-long.sh
        - travis/tests-unit.sh
      before_cache:
        - conda clean --tarballs --yes
        - rm -rf tools/conda-cache/.pkgs/cache

    - stage: test
      os: linux
      language: python
      python: 3.6
      env:
        - TRAVIS_JOB=test_py36
        - PYTEST_ADDOPTS="-rsxX -n 2 --durations=25 --fixture-durations=10 --junit-xml=pytest.xml --cov-report= --cov broad_utils --cov illumina --cov assembly --cov interhost --cov intrahost --cov metagenomics --cov ncbi --cov read_utils --cov reports --cov taxon_filter --cov tools --cov util"
        # $BUNDLE_SECRET for decrypting tarball of third-party tools
        - secure: KX7DwKRD85S7NgspxevgbulTtV+jHQIiM6NBus2/Ur/P0RMdpt0EQQ2wDq79qGN70bvvkw901N7EjSYd+GWCAM7StXtaxnLRrrZ3XI1gX7KMk8E3QzPf0zualLDs7cuQmL6l6WiElUAEqumLc7WGpLZZLdSPzNqFSg+CBKCmTI8=
      before_install: travis/before_install.sh
      install:
        - source travis/install-conda.sh
        - travis/install-gatk.sh
        - travis_wait travis/install-tools.sh
        - source travis/activate-conda.sh
      script:
#        - travis/tests-long.sh
#        - travis/tests-unit.sh
        - pytest test/integration test/unit
      after_success:
        - coveralls
      before_cache:
        - conda clean --tarballs --yes
        - rm -rf tools/conda-cache/.pkgs/cache

    - stage: test
      os: linux
      language: generic
      env:
        - TRAVIS_JOB=test_py36_in_docker
        - PYTEST_ADDOPTS="-rsxX -n 2 --durations=25 --fixture-durations=10 --junit-xml=pytest.xml --cov broad_utils --cov illumina --cov assembly --cov interhost --cov intrahost --cov metagenomics --cov ncbi --cov read_utils --cov reports --cov taxon_filter --cov tools --cov util"
        # $BUNDLE_SECRET for decrypting tarball of third-party tools
        - secure: KX7DwKRD85S7NgspxevgbulTtV+jHQIiM6NBus2/Ur/P0RMdpt0EQQ2wDq79qGN70bvvkw901N7EjSYd+GWCAM7StXtaxnLRrrZ3XI1gX7KMk8E3QzPf0zualLDs7cuQmL6l6WiElUAEqumLc7WGpLZZLdSPzNqFSg+CBKCmTI8=
      install:
        - DOCKER_TAG=`travis/list-docker-tags.sh | tail -1`
        - docker pull $DOCKER_TAG
        - travis/install-gatk.sh
        - mkdir coverage
      script:
        - docker run -e PYTEST_ADDOPTS -v $GATK_PATH:/gatk -v coverage:/coverage --entrypoint /bin/bash $DOCKER_TAG -c 'set -e; cd /opt/viral-ngs/source; source docker/container_environment.sh; gatk-register /gatk/GenomeAnalysisTK.jar; pytest test/integration test/unit; cp .coverage /coverage'
      after_success:
        - mv coverage/.coverage .
        - coveralls

    - stage: test
      os: linux
      language: java
      jdk: oraclejdk8
      env:
        - TRAVIS_JOB=test_cromwell
        # $BUNDLE_SECRET for decrypting tarball of third-party tools
        - secure: KX7DwKRD85S7NgspxevgbulTtV+jHQIiM6NBus2/Ur/P0RMdpt0EQQ2wDq79qGN70bvvkw901N7EjSYd+GWCAM7StXtaxnLRrrZ3XI1gX7KMk8E3QzPf0zualLDs7cuQmL6l6WiElUAEqumLc7WGpLZZLdSPzNqFSg+CBKCmTI8=
      install:
        - DOCKER_TAG=`travis/list-docker-tags.sh | tail -1`
        - docker pull $DOCKER_TAG
        - travis/install-gatk.sh
        - travis/install-wdl.sh
      script:
        - travis/version-wdl-runtimes.sh
        - travis/validate-wdl.sh
        - travis/tests-cromwell.sh

    - stage: test
      os: linux
      language: generic
      env:
        - TRAVIS_JOB=build_conda_in_docker
        # $ANACONDA_TOKEN for uploading builds to anaconda.org ("broad-viral" channel)
        - secure: SLPB86BpMIiNncMioxVk9cLrqaSNt8F1QDtxkrdLq9j7wXzFqGa7cipG6UJ6Om7GvoF49DpACfGPTA4ycr+T4cH3pWXpBHrBhV8TyKJb23cOmg5+7zqJQTzuwNqKOT7t9rnBkf1uzVXBcgqKaD6XW/nEvNFK00I0cvjlCp8vgxE=
        # $BUNDLE_SECRET for decrypting tarball of third-party tools
        - secure: KX7DwKRD85S7NgspxevgbulTtV+jHQIiM6NBus2/Ur/P0RMdpt0EQQ2wDq79qGN70bvvkw901N7EjSYd+GWCAM7StXtaxnLRrrZ3XI1gX7KMk8E3QzPf0zualLDs7cuQmL6l6WiElUAEqumLc7WGpLZZLdSPzNqFSg+CBKCmTI8=
      install:
        - DOCKER_TAG=`travis/list-docker-tags.sh | tail -1`
        - docker pull $DOCKER_TAG
        - travis/install-gatk.sh
      script:
        - docker run -v $GATK_PATH:/gatk -e TRAVIS_BRANCH -e TRAVIS_PULL_REQUEST -e TRAVIS_TAG -e ANACONDA_TOKEN --entrypoint /bin/bash $DOCKER_TAG -c 'set -e; cd /opt/viral-ngs/source; source docker/container_environment.sh; gatk-register /gatk/GenomeAnalysisTK.jar; travis/install-conda-build.sh; travis/build-conda.sh'

    #- stage: test
    #  os: linux
    #  language: python
    #  python: 3.6
    #  env:
    #    - TRAVIS_JOB=build_conda
    #    # $ANACONDA_TOKEN for uploading builds to anaconda.org ("broad-viral" channel)
    #    - secure: SLPB86BpMIiNncMioxVk9cLrqaSNt8F1QDtxkrdLq9j7wXzFqGa7cipG6UJ6Om7GvoF49DpACfGPTA4ycr+T4cH3pWXpBHrBhV8TyKJb23cOmg5+7zqJQTzuwNqKOT7t9rnBkf1uzVXBcgqKaD6XW/nEvNFK00I0cvjlCp8vgxE=
    #  install:
    #    - source travis/install-conda.sh
    #    - travis/install-conda-build.sh
    #  script: travis_wait travis/build-conda.sh
    #  before_cache:
    #    - conda clean --tarballs --yes
    #    - rm -rf tools/conda-cache/.pkgs/cache

#        - stage: test
#          os: osx
#          language: generic
#          env:
#              - TRAVIS_JOB=test_osx
#              - TRAVIS_OSX_PYTHON_VERSION=py36
#              - TRAVIS_PYTHON_VERSION=3.6
#          before_install:
#              - travis/before_install.sh
#              # Under OSX, some versions of ruby seem to cause this error.
#              # See: https://github.com/travis-ci/travis-ci/issues/6307
#              - rvm get head
#          after_script:
#              # correct post-build failure on OSX due to non-zero exit code
#              - set +e
  
