blast=2.6.0
bmtagger=3.101
bwa=0.7.15
cd-hit=4.6.8
cd-hit-auxtools=4.6.8
diamond=0.9.10
gatk=3.6
kraken=1.0.0_fork2
krona=2.7
last=876
lbzip2=2.5
lz4-bin=131
fastqc=0.11.5
gap2seq=2.1
mafft=7.221
mummer=3.23 
muscle=3.8.1551 
mvicuna=1.0
novoalign=3.07.00
picard=2.9.0
pigz=2.3.4
prinseq=0.20.4
samtools=1.6
snpeff=4.1l
spades=3.11.1
tbl2asn=25.3
trimmomatic=0.36
trinity=date.2011_11_26
unzip=6.0
vphaser2=2.0
# Python packages below
bedtools=2.26.0
biopython=1.68
future==0.16.0
matplotlib=1.5.3
pysam=0.13.0
pybedtools=0.7.10
PyYAML=3.11
six=1.10.0
