jinja2==3.1.2 # https://github.com/readthedocs/readthedocs.org/issues/9037#issuecomment-1077818554
Sphinx==5.3.0 #override sphinx pinning done by RTD: https://docs.readthedocs.io/en/stable/build-default-versions.html#external-dependencies
sphinx-argparse
sphinx-rtd-theme==1.1.1
matplotlib==2.2.4
PyYAML==6.0
mock==5.0.1
recommonmark
